@page "/MoreLists"
@using BreweryProject.Components;

<PageTitle>@desiredLocation1 and @desiredLocation2 Nearest Breweries</PageTitle>

<div class="">
    <div class="row">
        <div class="col-6">
            <Cmp_BreweryList startLocation=@desiredLocation1   />
        </div>
        <div class="col-6">
            <Cmp_BreweryList startLocation=@desiredLocation2  />
        </div>
    </div>
</div>

@code{
    private string desiredLocation1 = "Beaver Stadium";
    private string desiredLocation2 = "Ohio Stadium";

 }