@inherits LayoutComponentBase

<div class="page">
        <main>
        <article class="content px-4">
            <div class="container">
    <div class="row">
        <div class="col">        
            <img src="https://brand.psu.edu/images/shared-images/psu-mark-280.png" />
        </div>
    </div>
</div>
            @Body
        </article>
    </main>
</div>
